body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  width: 100vw;
  height: 630px;
}

#building {
  box-sizing: border-box;
  flex: 0.6; /* Occupy half the available space in the container */
  background-color: lightblue; /* Set a background color */
  position: relative;
  display: flex;
  flex-direction: column; /* Stack divs vertically */
  justify-content: flex-end; /* Align divs to the bottom */
  align-items: center;
  height: 630px;
}

#elevator {
  box-sizing: border-box;
  width: 40px;
  height: 45px;
  position: absolute;
  bottom: 90px;
  border: 2px black solid;
  z-index: 2;
  background-color: gray;
}

.floor {
  box-sizing: border-box;
  height: 45px; /* Set height of each floor */
  background-color: burlywood; /* Add background color */
  border: 1px solid black; /* Add border for visibility */
  z-index: 1;
  display: flex;
  align-items: center;
  width: 60%;
}

.floor:last-child {
  background-color: darkgray;
}

.floor-num {
  margin-left: 1rem;
}

/* Style the panel element */
#panel {
  flex: 0.4; /* Occupy half the available space in the container */
  display: flex; /* Allow children to be positioned horizontally */
  justify-content: space-around;
  background-color: gray;
  padding: 5%;
}

#floor-btns {
  /* Occupy half the available space in the panel */
  display: flex; /* Allow children to be positioned as columns */
  flex-direction: column; /* Arrange children vertically */
  justify-content: center;
  width: 40%;
}

#direction {
  /* Occupy half the available space in the panel */
  display: flex; /* Allow children to be positioned as columns */
  flex-direction: column; /* Arrange children vertically */
  justify-content: center;
  width: 20%;
}

.direction img {
  border-radius: 50%;
}

/* Style the number-row element */
.number-row {
  box-sizing: border-box;
  display: flex; /* Allow children (numbers) to be positioned horizontally */
  justify-content: space-between;
  margin-bottom: 16px;
}

/* Style the number element */
.number {
  box-sizing: border-box;
  border: 3px black solid;
  text-align: center;
  padding: 1rem;
  width: 45%;
  margin: 0;
}

.number:hover {
  background-color: lightgray;
}

.direction-btn:hover {
  transform: scale(1.1);
}

#start-btn {
  align-self: flex-end;
  width: 5rem;
  background-color: #ffffff;
  border: 1px solid rgb(209, 213, 219);
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: #111827;
  font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, system-ui,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: 0.75rem 1rem;
  text-align: center;
  text-decoration: none #d1d5db solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#start-btn:hover {
  background-color: rgb(249, 250, 251);
}

#start-btn:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

#start-btn:focus-visible {
  box-shadow: none;
}
